<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>5seconds</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <div id="app">

      <h1>
        ToDo List
        <span class="info">({{ remaining }}/{{ todos.length }})</span>
      </h1>

      <!-- 表示切り替え用ラジオボタンの設置 -->
      <form class="listSelect" >
        <input type="radio" id="all-list" name="listSelect" value="all-list-v" v-model="status"><label for="all-list">すべて</label>
        <input type="radio" id="doingList" name="listSelect" value="doinglist-v" v-model="status"><label for="doingList">作業中</label>
        <input type="radio" id="doneList" name="listSelect" value="donelist-v" v-model="status"><label for="doneList">完了</label>
      </form>

      <!-- リストへタスク一覧表示 -->
      <table v-cloak>
        <thead>
          <tr>
            <th>ID</th><th>コメント</th><th>状態</th>
          </tr>
        </thead>
        <tbody v-if="todos.length">  <!-- タスクがあるときのみ表示 -->
          <!-- <tr v-for="(todo,index) in todos"> -->
          <tr v-for="(todo,index) in todosDisplay">  <!-- V-forにより、タスク格納配列を表示 -->
            <td v-bind:class="{ done: todo.isDone }">{{ todo.id }}</td>
            <td v-bind:class="{ done: todo.isDone }">{{ todo.item }}</td>
            <td>
              <!-- <input type="checkbox" v-model="todo.isDone"> //チェックボックス -->
              <!-- <input type="button" v-bind:value="btnStatus" @click="changeStatus(todo.id)"> -->
              <input type="button" v-bind:value="todo.isDone ? ' 完了 ':'作業中'" @click="changeStatus(todo.id)">
              <span @click="deleteItem(todo.id)" class="deleteCommand"> [削除]</span>
            </td>
          </tr>
        </tbody>
        <tbody v-else>  <!-- タスクが無いときのみ表示 -->
          <tr><td></td><td>Nothing to do!</td><td></td></tr>
        </tbody>
      </table>

      <!-- 新規タスク追加のテキスト＆ボタンのメソッド -->
      <h2>新規タスク追加</h2>
      <form v-on:submit.prevent>
        <input type="text" v-model="newItem">
        <button v-on:click="addTasks">追加</button>
      </form>

      <br>
      <br>
      <p>確認用「Vueインスタンス：data」の中身</p>
      <p>{{ $data }}</p>
    </div>

    <!-- vue.jsの読み込み -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/main.js"></script>

<!-- firebaseの読み込み -->
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/6.0.4/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#config-web-app -->

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyBx9iRwC-UBApcO22uGvYohBw0WHL3hMp0",
    authDomain: "my-address-app.firebaseapp.com",
    databaseURL: "https://my-address-app.firebaseio.com",
    projectId: "my-address-app",
    storageBucket: "my-address-app.appspot.com",
    messagingSenderId: "155077065931",
    appId: "1:155077065931:web:6f04bf422bd39972"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>



  </body>
</html>
